<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <h1>DOCTOR</h1>
    <table width="200" border="1">
      <tr>
        <td><a href="/VIEW_ENQUIRY">ENQUIRY</a></td>
      </tr>
       <tr>
        <td><a href="/LOAD_IMAGE">IMAGE</a></td>
      </tr>
      <tr>
        <td><a href="/DOC_VIEW_USER">USERS</a></td>
      </tr>
      <tr>
        <td><a href="/VIEW_BOOKING_AND_UPDSATE_STATUS">BOOKING</a></td>
      </tr>
      <tr>
        <td><a href="/">LOGOUT</a></td>
      </tr>
      </table>
  </div>
</form>
</body>
</html>
