<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN PAGE</title>
</head>
    <body>
        <h1 align="center">LOGIN PAGE</h1>
        <form>
         <table border="1" align="center">
            <tr>
                <th> Username</th>
                <td> <input type="text" name="textfield"></td>
            </tr>
            <tr>
                <th>password</th>
                <td> <input type="password" name="textfield2"></td>
            </tr>
            <tr align ="center">
                <td colspan="2">
                    <input type="submit" value="LOGIN"> <a href="LOAD_IMAGE">PREDICT IMAGE</a>
                </td>
            </tr>
         </table>
        </form>
    </body>
</html>