{% extends 'admin/admin_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">

    <h1>VIEW USER </h1>
    <table class="table table-dark table table-hover" >
      <tr>
          <td>#</td>
        <td>NAME</td>
        <td>DOB</td>
        <td>GENDER</td>
        <td>ADDRESS</td>
        <td>PHONE NUMBER </td>
        <td>EMAIL</td>
      </tr>
 {% for i in data %}
      <tr>
          <td>{{ loop.index }}</td>
        <td>{{i['first_name']}} {{i['last_name']}}</td>
        <td>{{i['dob']}}&nbsp;</td>
        <td>&nbsp;{{i['gender']}}</td>
        <td>{{i['place']}}<br> {{i['post']}} <br>{{i['pin']}} &nbsp;</td>
        <td>&nbsp;{{i['phone_number']}}</td>
        <td>{{i['email_id']}}</td>
      </tr>
{% endfor%}
    </table>

</form>
</body>
{% endblock %}
