{% extends 'admin/admin_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-dark table table-hover">
    <tr>
      <th>#</th>
      <td>NAME</td>
      <td>COMPLAINT</td>
      <td>DATE</td>
      <td>REPLY</td>
    </tr>
    {%for i in data%}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{i['first_name']}} {{i['last_name']}}</td>
        <td>{{i['complaint']}}</td>
        <td>{{i['date']}}</td>
        {% if i['reply']=='pending' %}
      <td><a href="/REPLY?id={{ i['id'] }}#about">REPLY</a></td>
        {% else %}
        <td>{{ i['reply'] }}</td>
        {%endif%}
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}

